{% extends 'base.html' %}
{% block container %}
<body>
	<div class="container">
  <form>
    <div class="form-group row">
      <div class="col-sm-10" id="search">
        <div id="field"><input autocomplete="off" class="input" id="field1" name="lemma1" type="text" placeholder="Lemma" data-items="8"/></div>
      </div>
    </div>
    <fieldset class="form-group row">
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="s">
            s
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="spro" disabled>
            spro
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="a" disabled>
            a
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="adv" disabled>
            adv
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="advpro" disabled>
            advpro
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="anum" disabled>
            anum
          </label>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios3" value="v" disabled>
            v
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="apro" disabled>
            apro
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="conj" disabled>
            conj
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="num" disabled>
            num
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="part" disabled>
            part
          </label>&nbsp;&nbsp;&nbsp;
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="pos" id="gridRadios2" value="pr" disabled>
            pr
          </label>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Найти</button>
      </div>
    </div>
  </form>
</div>
{% if error is not None %}
<p>Sorry, we could not find anything.</p>
{% else %}
<table class="table table-responsive table-bordered">
    <thead>
        <th>Падеж</th>
        <th>Ед.ч.</th>
        <th>freq</th>
        <th>Ед.ч.</th>
        <th>freq</th>
    </thead>
    <tr>
        <th>Nom.</th>
        <td>{% for i in word.nomsg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.nomsg %}<p>i[1]</p>{% endfor %}</td>
        <td>{% for i in word.nompl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.nompl %}<p>i[1]</p>{% endfor %}</td>
    </tr>
    <tr>
        <th>Gen.</th>
        <td>{% for i in word.gensg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.gensg %}<p>i[1]</p>{% endfor %}</td>
        <td>{% for i in word.genpl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.genpl %}<p>i[1]</p>{% endfor %}</td>
    </tr>
    <tr>
        <th>Acc.</th>
        <td>{% for i in word.accsg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.accsg %}<p>i[1]</p>{% endfor %}</td>
        <td>{% for i in word.accpl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.accpl %}<p>i</p>{% endfor %}</td>
    </tr>
    <tr>
        <th>Dat.</th>
        <td>{% for i in word.datsg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.datsg %}<p>i</p>{% endfor %}</td>
        <td>{% for i in word.datpl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.datpl %}<p>i</p>{% endfor %}</td>
    </tr>
    <tr>
        <th>Ins.</th>
        <td>{% for i in word.inssg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.inssg %}<p>i[1]</p>{% endfor %}</td>
        <td>{% for i in word.inspl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.inspl %}<p>i[1]</p>{% endfor %}</td>
    </tr>
    <tr>
        <th>Loc.</th>
        <td>{% for i in word.locsg %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.locsg %}<p>i[1]</p>{% endfor %}</td>
        <td>{% for i in word.locpl %}<p>i[0]</p>{% endfor %}</td>
        <td>{% for i in word.locpl %}<p>i[1]</p>{% endfor %}</td>
    </tr>
</table>
{% endif %}
</body>
{% endblock %}